<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="card">
			<ng-template [ngIf]="loading" [ngIfElse]="showTable">
				<skeleton-table-component [title]="title"></skeleton-table-component>
			</ng-template>

			<ng-template #showTable>
				<p-table #dt [value]="pickersModel" [paginator]="true" [rows]="6"
					responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['id','name','availableMinutes', 'usedMinutes', 'remainingMinutes', 'status']">
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon> <p-columnFilter type="text" field="id" display="menu" class="ml-auto"></p-columnFilter></th>
							<th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon> <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="availableMinutes">Minutos Disponibles <p-sortIcon field="availableMinutes"></p-sortIcon> <p-columnFilter type="text" field="availableMinutes" display="menu" class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="usedMinutes">Minutos Trabajados <p-sortIcon field="usedMinutes"></p-sortIcon> <p-columnFilter type="text" field="usedMinutes" display="menu" class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="remainingMinutes">Minutos Restantes<p-sortIcon field="remainingMinutes"></p-sortIcon> <p-columnFilter type="text" field="remainingMinutes" display="menu" class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                            <th>Acción</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="caption">
                        <h4 class="mt-2">{{title}}</h4>
						<div class="flex flex-wrap gap-2 justify-content-between">
							<div class="flex flex-wrap gap-2">
								<button pButton class="ml-2 p-button-raised p-button-danger" pRipple type="button" (click)="addPickers()" pTooltip="Agregar nuevo Empleado" tooltipPosition="bottom" label="Agregar"></button>
							</div>
							<div class="flex flex-wrap gap-2 align-items-center">
								<span class="p-input-icon-left">
									<i class="pi pi-search"></i>
									<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
								</span>
							</div>
						</div>
					</ng-template>
					<ng-template pTemplate="body" let-pickers>
						<tr>
							<td style="width: 5%; min-width: 2rem;">{{pickers.id}}</td>
							<td style="width: 20%; min-width: 7rem;">{{pickers.name}}</td>
                            <td style="width: 15%; min-width: 7rem;">{{pickers.availableMinutes}}</td>
							<td style="width: 15%; min-width: 7rem;">{{pickers.usedMinutes}}</td>
                            <td style="width: 10%; min-width: 2rem;">{{pickers.remainingMinutes}}</td>
                            <td style="width: 15%; min-width: 4rem;">
                                <ng-template [ngIf]="pickers.status" [ngIfElse]="inactive">
                                    <p-chip label="Activo" styleClass="custom-chip" icon="pi pi-check"></p-chip>
                                </ng-template>
                                <ng-template #inactive>
                                    <p-chip label="Inactivo" icon="pi pi-times"></p-chip>
                                </ng-template>
                            </td>

							<td style="width: 20%;">
								<button (click)="editPickers(pickers)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-danger p-button-outlined"></button>
							</td>
						</tr>
					</ng-template>
				</p-table>
                <app-pickers-dialog (pickersModify)="PickersModify($event)"></app-pickers-dialog>
			</ng-template>
		</div>
	</div>
</div>
