<div class="grid">
    <div class="col-12 xl:col-12">
      <div class="card">
        <ng-template [ngIf]="loading" [ngIfElse]="showTable">
          <skeleton-table-component [title]="title"></skeleton-table-component>
        </ng-template>

        <ng-template #showTable>
          <p-table #dt [value]="statusPedidosModel" [paginator]="true" [rows]="10"
                   responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-gridlines"
                   [globalFilterFields]="['fecha','pedido', 'nombre_Vendedor', 'nombreCiudad', 'totalLinea', 'cantidadLineas', 'tiempoPreparacion']">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon> <p-columnFilter type="text" field="fecha" display="menu" class="ml-auto"></p-columnFilter></th>
                    <th pSortableColumn="pedido"># de Pedido<p-sortIcon field="pedido"></p-sortIcon> <p-columnFilter type="text" field="pedido" display="menu" class="ml-auto"></p-columnFilter></th>
                    <th pSortableColumn="nombre_Vendedor">Asesor<p-sortIcon field="nombre_Vendedor"></p-sortIcon> <p-columnFilter type="text" field="nombre_Vendedor" display="menu" class="ml-auto"></p-columnFilter></th>
                    <th pSortableColumn="nombreCiudad">Ciudad<p-sortIcon field="nombreCiudad"></p-sortIcon> <p-columnFilter type="text" field="nombreCiudad" display="menu" class="ml-auto"></p-columnFilter></th>
                    <th pSortableColumn="totalLinea">Total Monetario<p-sortIcon field="totalLinea"></p-sortIcon> <p-columnFilter type="text" field="totalLinea" display="menu" class="ml-auto"></p-columnFilter></th>
                    <th pSortableColumn="cantidadLineas">Cantidad Lineas <p-sortIcon field="cantidadLineas"></p-sortIcon> <p-columnFilter type="text" field="cantidadLineas" display="menu" class="ml-auto"></p-columnFilter></th>
                    <th pSortableColumn="tiempoPreparacion">Tiempo de Preparación Estimado<p-sortIcon field="tiempoPreparacion"></p-sortIcon> <p-columnFilter type="text" field="tiempoPreparacion" display="menu" class="ml-auto"></p-columnFilter></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
              <h4 class="mt-2">{{title}}</h4>
              <div class="flex flex-wrap gap-2 justify-content-between">

                <div class="flex flex-wrap gap-2 align-items-center">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Buscar una palabra"/>
                  </span>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="body" let-statusPedido>
              <tr>
                <td style="width: 14.28%; min-width: 7rem;">{{statusPedido.fecha | date: 'dd/MM/yyyy' }}</td>
                <td style="width: 14.28%; min-width: 7rem;">{{statusPedido.pedido }}</td>
                <td style="width: 14.28%; min-width: 7rem;">{{statusPedido.nombre_Vendedor}}</td>
                <td style="width: 14.28%; min-width: 2rem;">{{statusPedido.nombreCiudad}}</td>
                <td style="width: 14.28%; min-width: 2rem;">{{statusPedido.totalLinea | currency:'L. ':'symbol':'1.2-2'}}</td>
                <td style="width: 14.28%; min-width: 2rem;">{{statusPedido.cantidadLineas}}</td>
                <td style="width: 14.28%; min-width: 7rem;">{{statusPedido.tiempoPreparacion}} min.</td>

              </tr>
            </ng-template>
          </p-table>

        </ng-template>
      </div>
    </div>
  </div>
